@use './customBootstrap' as *

.test-bg
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  background: url(../bg.png) top center
  background-size: 1440px
  z-index: 100
  pointer-events: none
  opacity: 0.5

html
  overflow-x: hidden

body
  position: relative
  scroll-behavior: smooth

.underline
  display: inline-block
  text-decoration: none
  position: relative
  &::after
    content: ''
    position: absolute
    left: 0
    right: 0
    bottom: 2px
    border-bottom: 1px solid

.container
  margin-left: auto
  margin-right: auto

.logo
  display: block
  width: 104px
  height: 40px
  margin: -1px 0
  background: url(../assets/logo.svg) no-repeat left top

.scrolled
  .header
    box-shadow: 5px 0px 30px rgba(0, 0, 0, 0.1)
.header
  position: sticky
  top: 0
  transition: box-shadow 0.1s
  background: #{white}
  z-index: 10
  &.opening,
  &.opened
    z-index: 30
  &-content
    display: flex
    align-items: center

  .navbar-collapse
    justify-content: flex-end
  .navbar-nav
    margin-right: 12px
  .nav-link
    color: #{$black}
  .btn
    line-height: 1.12
    font-weight: 500

.lang
  width: 20px
  height: 20px
  border-radius: 50%
  cursor: pointer

  &[data-lang^="ae"]
    background: url(../assets/ae.png) center no-repeat

.illustration
  background-repeat: no-repeat
  background-size: contain
  &-greetings
    width: 385px
    height: 378px
    background-image: url(../assets/greetings-image.svg)
    background-position: center
  &-delivery
    position: relative
    // width: 310px
    height: 183px
    &::after
      content: ''
      display: block
      position: absolute
      width: 372px
      height: 426px
      background: url(../assets/delivery.png) center no-repeat
      background-size: contain
      left: 10px
      top: -75px
  &-app
    width: 520px
    height: 372px
    background-image: url(../assets/appx3.png)

    background-size: contain
    background-repeat: no-repeat

.stage
  overflow: hidden
  &-common
    overflow: visible
  &-rounded
    border-radius: var(--bs-border-radius-pill)
  &-inverse
    background: #{$electric-blue}
    color: #{$white}
    padding: 60px 0 60px
    overflow: hidden
    a
      color: #{white}
      &:hover
        color: #{white}
        opacity: 0.7
  &-description
    line-height: #{$line-height-lg}
    font-weight: 600
    margin-bottom: 20px
  &-video
    .video
      margin-top: #{$indent-m}
      @media (max-width: 992px)
        margin-top: 0
        padding-top: 56.25%
        height: 0
        width: 100%
  .subcaption
    padding-right: 23%
  .heading-sup
    margin-bottom: #{$indent-sm}
    display: flex
    align-items: center
    *
      font-weight: 500
    .icon
      margin-left: 6px

.capitalize
  letter-spacing: 0.125em
  text-transform: uppercase

.h5,
.h4,
.h3,
.h2,
.h1
  letter-spacing: -0.035em
.h6
  letter-spacing: 0.125em
  text-transform: uppercase
.h5
  font-weight: 700

.text
  font-weight: 400
  /* or 24px */
  &-s
    font-size: 16px
    letter-spacing: -0.015em
    line-height: #{$line-height-lg}
  &-m
    font-size: 18px
    letter-spacing: -0.015em
    line-height: #{$line-height-lg}
  &-l
    font-size: 20px
    letter-spacing: -0.015em
    line-height: #{$line-height-lg}

.btn
  line-height: 135%
  letter-spacing: -0.035em
  display: flex
  align-items: center
  justify-content: center
  box-shadow: none
  &:focus,
  &:active,
  &:active:focus
    box-shadow: none
    outline: none
  &-lg
    font-size: 20px
    line-height: 135%
    letter-spacing: -0.035em
  &-circle
    border-radius: 50%
    padding: 16px
  &-primary
    &,
    &:hover,
    &:focus,
    &:active
      color: #{$white}
      background-color: #{$primary}
  &-light
    &,
    &:hover,
    &:focus,
    &:active
      border: none
      color: #{$primary}
      background: #{$air-grey}
  &-dark
    &,
    &:focus
      border: 1px solid #{$dark_grey}
      background: #{$black}
    &:hover,
    &:active
      border: 1px solid #{$white}
      background: #{$black}
  &-green
    &,
    &:focus
      color: #{$white}
      background-color: #{$whatsapp_green}
      border: none
    &:hover,
    &:active
      border: none
      color: #{$white}
      background-color: #{$whatsapp_hover}
  &-icon
    display: inline-block
    content: ''
    width: 18px
    height: 18px
    vertical-align: -3px
    margin-left: 9px
  &-arrow
    border: none
    // background: #{$air-grey}
    // color: #{$electric-blue}
    &::after
      border-style: solid
      border-width: 2.7px 2.7px 0 0
      content: ''
      display: inline-block
      width: 9px
      height: 9px
      margin-right: 14px
      position: relative
      left: 6.5px
      top: 0px
      transform: rotate(45deg)
      vertical-align: middle
      transition: transform 0.5s cubic-bezier(0.34, 1.56, 0.64, 1)
    &:hover,
    &:active
      &::after
        transform: translateX(6px) rotate(45deg)
.navbar
  &-nav
    letter-spacing: -0.032em
p,
.paragraph
  margin: 32px 0

.card-list-item
  display: flex
  align-self: stretch
  height: 100%
.card
  border: none
  min-height: 320px
  &-title
    margin-top: 30px
  &-icon
    background-position: left top
    background-repeat: no-repeat
    height: 50px
  &-index
    font-weight: 600
    font-size: 18px
    letter-spacing: -0.035em
  &-text
    line-height: 1.35
    letter-spacing: -0.015em

.icon
  background-size: contain
  background-repeat: no-repeat
  display: inline-block
  vertical-align: middle
  &-small
    width: 20px
    height: 20px
  &-m
    width: 28px
    height: 28px
  &-l
    width: 32px
    height: 32px
  &-device
    background-image: url(../assets/device.svg)
  &-box
    background-image: url(../assets/box.svg)
  &-calc
    background-image: url(../assets/calc.svg)
  &-link
    background-image: url(../assets/link.svg)
  &-wallet
    background-image: url(../assets/wallet.svg)
  &-map
    background-image: url(../assets/map.svg)
  &-cart
    background-image: url(../assets/cart.png)
  &-diamond
    background-image: url(../assets/diamond.png)
  &-loudspeaker
    background-image: url(../assets/loudspeaker.png)
    position: relative
    top: -1px
  &-whatsapp
    background-image: url(../assets/whatsapp_white.svg)
  &-tg
    background-image: url(../assets/socials/tg.svg)
  &-vk
    background-image: url(../assets/socials/vk.svg)
  &-zen
    background-image: url(../assets/socials/zen.svg)
  &-inst
    background-image: url(../assets/socials/inst.svg)
  &-youtube
    background-image: url(../assets/socials/youtube.svg)
  &-color
    &-inst
      background-image: url(../assets/socials/cl-inst.svg)
    &-tiktok
      background-image: url(../assets/socials/cl-tiktok.svg)
    &-fb
      background-image: url(../assets/socials/cl-fb.svg)
    &-youtube
      background-image: url(../assets/socials/cl-youtube.svg)
  &-white
    &-tiktok
      background-image: url(../assets/socials/white-tiktok.svg)

.fixed
  .socials
    margin-top: 15px
.socials
  display: flex
  padding-left: 0
  margin-bottom: 0
  list-style: none
  &-item
    transition: all 0.3s
    & + &
      margin-left: 15px
    &:hover
      opacity: 0.6

.hover-block
  display: flex
  align-items: center
  padding: 14px 30px
  box-shadow: #{$box-shadow}
  border-radius: 20px
  background: #{$white}
  overflow: hidden
  &-text
    font-size: 20px
    font-weight: 600
    &-collapsed
      display: none
  &-icon
    display: none
  &-content
    margin-right: -30px
    width: 30px // офсет для анимации закрытия с баунсом
    transition: all .7s cubic-bezier(0.40, 1.36, 0.64, 1)
    overflow: hidden
    opacity: 0
    & > *
      padding: 0 15px // корретировка этого офсета
  &:hover
    .hover-block-content
      width: 205px
      opacity: 1
  .socials
    margin: 0
  .socials-item + .socials-item
    margin-left: 10px

.fixed
  position: fixed
  z-index: 20
  right: 23px
  &.bottom
    bottom: 23px

.partner
  border-radius: #{$border-radius-lg}
  background: #{$air-grey}
  overflow: hidden
  display: block
  height: 100%

  &-logo
    padding-top: 62%
    background: url(../assets/default-partner-logo.svg) center no-repeat
  .btn
    height: 100%
    width: 100%
    font-size: #{$font-size-lg}
    letter-spacing: -0.035em

.grid
  display: grid
  gap: #{$indent-l}
  &-5
    grid-template-columns: repeat(5, 1fr)

.banner
  border-radius: #{$border-radius-xl}
  padding: 60px
  min-height: 314px
  color: #FFFFFF
  &-summersale
    background-color: #{$blueberry_yogurt}
    background-image: url(../assets/summersale.png)
    background-position: right -90px top -155px
    background-size: 622px
    background-repeat: no-repeat
  &-caption
    font-family: "PP Gatwick"
    font-weight: 700
    font-size: 40px
    line-height: 112%
    letter-spacing: -0.035em
    text-transform: uppercase
    color: #FFFFFF
    overflow: hidden
  .paragraph
    margin: 20px 0 20px
    &:last-child
      margin-bottom: 0

.list
  margin: 32px 0
  padding-left: 30px
  li
    margin-bottom: 20px
    &:last-child
      margin-bottom: 0
.video
  // width: 570px
  border-radius: #{$border-radius-xl}
  height: 414px
  position: relative
  background: #{$air-grey}
  &.stopped
    .play-btn
      cursor: pointer
      position: absolute
      content: ''
      width: 32px
      height: 32px
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      background: url(../assets/play.svg) center no-repeat

.reviews
  margin: 40px 20px 0
  position: relative
.review
  position: relative
  z-index: 1
  padding: 25px 15px 20px 19px
  background: #fff
  &-author
    font-weight: 500
    margin-top: 20px
    letter-spacing: -0.035em
  &-content
    position: relative
    z-index: 1
    line-height: 133%
  &::before
    content: ''
    position: absolute
    top: 0
    left: 10px
    width: 60px
    height: 50px
    background: url(../assets/quote.svg) no-repeat

.app-btn-group
  display: flex
  align-items: center
  gap: 30px
.app-btn
  width: 180px
  height: 48px
  border-radius: 8px
  display: inline-block
  vertical-align: middle
  &-android
    background-image: url(../assets/gplay.svg)
  &-ios
    background-image: url(../assets/appstore.svg)

.footer
  padding: 80px 0 40px
  background: #{$black}
  color: #{$white}
  a
    color: #{$white}
    &:hover
      opacity: 0.6
  .app-btn
    border: 1px solid #{$dark-grey}
  h6,
  .h6
    color: #{$dark-grey}
    text-transform: uppercase
    margin-bottom: 10px
  .nav-item
    &:first-child
      margin-top: -10px
    &:last-child
      margin-bottom: -10px
  .payment-types
    margin-top: 20px
    display: flex
    flex-wrap: wrap
    gap: 15px
    align-items: flex-start
  .btn-dark
    padding-top: 15px
    padding-bottom: 15px

.disclaimer
  color: #{$dark-grey}
.vertical-spreaded
  display: flex
  justify-content: space-between
  flex-direction: column
  height: 100%

.swiper-list
  .swiper-slide
    height: auto
  .swiper-wrapper.row
    width: auto

.swiper-button-next
  right: -25px!important
  z-index: 1
.swiper-button-prev
  left: -25px!important
  z-index: 1
.swiper-button-next:after,
.swiper-button-prev:after
  content: ''!important
  border-style: solid
  border-width: 2.7px 2.7px 0 0
  content: ''
  display: inline-block
  width: 9px
  height: 9px
  margin-right: 14px
  position: relative
  left: 6.5px
  top: 0px
  transform: rotate(45deg)
  vertical-align: middle
  color: #{$primary}
.swiper-button-prev:after
  transform: rotate(-135deg)

.line-group
  display: flex
  align-items: center

.lg-out-vflow
  height: 0px
  @media (max-width: 992px)
    height: auto

.gy-lg-4
  --bs-gutter-y: 32px
.gy-md-3
  --bs-gutter-y: 40px

.container
  max-width: 1240px !important
  --bs-gutter-x: 48px
.navbar-toggler
  width: 20px
  height: 20px
  position: relative
  padding: 2px
  margin-left: 15px
  &,
  &:hover,
  &:active,
  &:focus
    outline: none
    border: none
    box-shadow: none
    background: none
  &:before,
  &:after
    content: ''
    border: 1px solid #{$black}
    background: #{$black}
    width: 19px
    display: block
    position: absolute
    left: 1px
    transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1)
  &:before
    transform: rotate(45deg)
    top: 9px
    left: 1px
  &:after
    transform: rotate(-45deg)
    bottom: 9px
    left: 1px
  &.collapsed
    &:before
      transform: rotate(0deg)
      top: 4px
    &:after
      transform: rotate(0deg)
      bottom: 4px

.fixed-whatsapp
  &-btn-text
    display: none

.overlay
  height: 266px
  position: fixed
  bottom: -300px
  left: 0
  right: 0
  opacity: 0
  z-index: 10
  // display: none
  transition: all 0.5s
  &.opened,
  &.opening
    opacity: 1
    bottom: 0
    &:before
      display: block
      opacity: 0.7
  &.opened,
  &.opening,
  &.closing
    display: block
  &::before
    display: none
    transition: all 0.3s
    content: ''
    z-index: 10
    position: fixed
    bottom: 0
    left: 0
    top: 0
    background: #{$black}
    opacity: 0
    right: 0
  &-content
    position: relative
    z-index: 10
    width: 100%
    height: 100%
    padding: 60px 30px 0
    display: flex
    align-items: center
    background: #FFFFFF
    border-radius: 30px 30px 0px 0px
    flex-direction: column
  &-text
    font-weight: 600
    font-size: 14px
    line-height: 112%
    color: #{$black}
    text-align: center
    &-collapsed
      display: none
  &-body
    margin-top: 30px

.swiper-list
  .swiper-pagination
    display: none

.partners-group
  margin-bottom: 60px
  &:last-child
    margin-bottom: 0
  &-caption
    font-size: 24px
    margin-bottom:24px
    font-weight: 700
.partner-block
  &-content
    background: #{$air-grey}
    padding: 16px
    border-radius: 8px
    min-height: 239px
    height: 100%
    display: flex
    flex-direction: column
  &-link
    margin-top: 16px
    word-break: break-all
    margin-bottom: 24px
  &-action
    margin-top: auto
    .btn
      width: 100%
      &:hover
        background-color: #1300B1
  .partner-logo
    background-color: #{$white}
    border-radius: 8px
.navbar
  &-aside
    position: sticky
    top: 90px
    .nav-link
      padding: 16px
      border-radius: 8px
      &.active
        background: rgba(72, 51, 245, 0.2)
.accordion-header
  button
    padding: 20px 0
.accordion-collapse
  border-bottom: 1px solid #{$light_gray}
  transition: all 0.5s
  &.show
    border-color: #{$black}
  &.collapse:not(.show)
    display: block
    height: 0px
    overflow: hidden
  .accordion-body
    padding: 0 0 20px 0
    line-height: 135%

.inline-list
  margin-top: 8px
  li + li
    margin-top: 8px

@media (max-width: 992px)
  .navbar
    > *
      position: relative
      z-index: 2
  .navbar-collapse
    display: none
    &,
    &.closing
      transition: all 0.5s
      position: absolute
      opacity: 0
      top: 50px
      left: 16px
      display: block
      visibility: hidden
      &:before
        opacity: 0
        bottom: 100vh
    &.closing
      &:before
        display: block
        visibility: visible
        opacity: 0
        bottom: 100vh
    &.opened,
    &.opening
      display: block
      visibility: visible
      opacity: 1
      top: 70px
      // z-index: 2
      > *
        position: relative
        z-index: 2
      &:before
        display: block
        visibility: visible
        opacity: 1
        bottom: 0
    &:before
      content: ''
      opacity: 0
      visibility: hidden
      background: #{$white}
      position: fixed
      transition: all 0.5s
      top: 68px
      bottom: 100vh
      left: 0
      right: 0
      z-index: 1
      bottom: 100vh

  .navbar-collapse
    margin-top: 20px
  .header-content
    flex-wrap: wrap
    align-items: flex-start
    justify-content: space-between
  .header-btn
    display: none
  .btn-adaptive
    &-lg-wide
      width: 100%
      &:after
        content: none !important
    // копипаста. подумать как инжектить
    &-lg-primary
      color: #{$white} !important
      background-color: #{$primary} !important
      &:hover,
      &:focus,
      &:active
        color: #{$white}!important
        background-color: #{$primary}!important
    // копипаста. подумать как инжектить
    &-lg-light
      color: #{$primary} !important
      background: #{$air-grey} !important
      &:hover,
      &:focus,
      &:active
        color: #{$primary} !important
        background: #{$air-grey} !important

  .banner-summersale
    background-position: left 258px top -153px

  .stage
    &-rounded
      border-radius: 0

  .illustration
    width: 100%
    &-delivery
      &:after
        right: -140px
        left: auto
    &-app
      padding-top: 70%
      height: auto
  .g-4
    --bs-gutter-y: 20px
    --bs-gutter-x: 20px

    &-logo
      transform: scale(0.5)

  .partner-btn
    margin-top: 40px

  .fixed
    left: 24px
    &-bottom
      bottom: 58px
  .fixed-whatsapp-btn
    width: 100%
    font-size: 14px
    justify-content: space-between
    background: #{$black}
    border-radius: 100px
    padding: 14px 18px
    &:hover,
    &:active,
    &:focus
      background: #{$black}
    &-text
      display: inline
    .icon-m
      width: 18px
      height: 18px
      margin-left: 8px
  .hover-block
    font-size: 14px
    padding: 14px 18px
    border-radius: 100px
    justify-content: space-between
    box-shadow: none
    background-color: #{$air-grey}
    cursor: pointer
    &-content
      display: none
    &-text
      font-size: 14px
    &-icon
      position: relative
      display: block
      width: 20px
      height: 20px
      background: #{$air-grey} url(../assets/rabbit.png) center no-repeat
      background-size: 18px
    .hover-block-icon
      &::after
        content: ''
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        opacity: 0
        transition: all 0.5s
        background: #{$air-grey} url(../assets/cross.svg) center no-repeat
    &:not(.collapsed)
      .hover-block-text
        display: none
      .hover-block-text-collapsed
        display: block
      .hover-block-icon
        &::after
          opacity: 1
  .overlay
    height: 258px

@media (max-width: 768px)
  .fixed
    left: 16px
    right: 16px
  .overlay
    height: 258px
  body
    font-size: 14px
  .text
    font-size: 14px
    &-l
      font-size: 14px
  .h2, h2
    font-size: 24px !important
  .h3, h3
    font-size: 24px !important
  .h4, h4
    font-size: 14px !important
  .h6, h6
    font-size: 12px !important
  .stage
    &-inverse
      padding: 24px 0
    &-greetings
      text-align: center
      margin-top: 12px !important
      margin-bottom: 48px !important
    .subcaption
      padding-right: 0
      margin: 16px 0 20px
    .heading-sup
      margin-bottom: 10px
      .icon
        width: 13px
        height: 13px
    &-video
      .list
        margin-bottom: 0
    &-delivery
      .h3, h3
        font-size: 18px !important
      .paragraph
        font-size: 12px !important
      .btn
        border: none
        background: none
        padding: 0
        color: #fff
  .illustration
    &-delivery
      transform: scale(0.5)
      height: 0
      &:after
        right: -210px
  .mt-stage
    margin-top: 48px !important
  .mt-9
    margin-top: 60px

  .g-2
    --bs-gutter-y: 8px
    --bs-gutter-x: 8px
  .g-4
    --bs-gutter-y: 8px
    --bs-gutter-x: 8px
  .gy-7
    --bs-gutter-y: 20px
  .container
    --bs-gutter-x: 32px

  .banner
    padding: 28px 20px
    border-radius: 16px
    min-height: 132px
    &-summersale
      background-position: right -30px top -25px
      background-size: 201px
    &-caption
      font-size: 16px
    .paragraph
      display: none

  .partner
    border-radius: 8px
    &-logo
      transform: scale(0.5)
  .partner-btn
    margin-top: 20px
  .btn
    font-size: 14px !important
  .mt-7
    margin-top: 20px !important

  .list
    margin: 20px 0
    li
      margin-bottom: 10px
  .gy-md-3
    --bs-gutter-y: 20px
  .reviews
    margin: 20px 10px 0
  .review
    &:before
      width: 35px
      height: 27px
      left: 15px
      top: 15px
      background-size: contain

  .footer
    padding: 32px 0
    .my-10
      margin-top: 40px !important
      margin-bottom: 40px !important
    .gy-7
      --bs-gutter-y: 40px
    .g-9
      --bs-gutter-x: 24px
      --bs-gutter-y: 24px
    .nav-link
      font-size: 14px
    .disclaimer
      font-size: 12px !important

  .swiper-button-next
    right: -12px!important
  .swiper-button-prev
    left: -12px!important

@media (max-width: 575px)
  .stage .app-btn
    width: 100%
    height: auto
    padding-top: 25.5%
    background-size: contain
    background-repeat: no-repeat
  .swiper-list
    padding-bottom: 26px
    margin-bottom: 20px
    .swiper-pagination
      display: block
      bottom: 0
      &-bullet
        background: #{$white}
        opacity: 0.5
        &-active
          opacity: 1
  .swiper-wrapper
    &.row
      flex-wrap: nowrap
      --bs-gutter-x: 0

@media (max-width: 520px)
  .illustration
    &-greetings
      padding-top: 98%
      height: auto
    &-app
      padding-top: 70%
      height: auto

@media (max-width: 375px)
  .fixed-whatsapp-btn
    &-subtext
      display: none
