$black: #1b1b1b;
$white: #ffffff;
$electric_blue: #4833f5;
$deep_blu: #1300B1;
$dark_grey: #555658;
$middle_gray: #d2d2d2;
$light_gray: #ededed;
$air_grey: #f6f6f6;
$transparent_blu: rgba(72, 51, 245, 0.2);
$blueberry_yogurt: #dc85d3;
$whatsapp_green: #58be55;
$whatsapp_hover: #167d13;
