$black:  #1B1B1B;
$white: #FFFFFF;
$electric_blue: #4833F5;
$dark_grey: #555658;
$middle_gray: #D2D2D2;
$light_gray: #EDEDED;
$air_grey: #F6F6F6;
$transparent_blu: rgba(72, 51, 245, 0.2);
$blueberry_yogurt: #DC85D3;
$whatsapp_green: #58BE55;

